$primary-red: rgba(224,47,31,1.0); // #E02F1F
$primary-blue: rgba(43,49,77,1.0); // #2B314D
$secondary-green: rgba(58,206,187,1.0); // #3ACEBB
$secondary-orange: rgba(255,162,0,1.0); // #FFA200
$secondary-dark-blue: rgba(35,57,74,1.0); //#23394A
$secondary-blue: rgba(13,105,139,1.0); // #0D698B
$secondary-light-blue: rgba(237,242,244,1.0); // #EDF2F4
$secondary-grey: rgba(242,241,232,1.0); // #F2F1E8
$secondary-light-green: #D5E1EC;
$secondary-dark-grey: rgba(255, 255, 255, 0.4);
$tertiary-blue:  rgba(43,49,77,0.4);